        /*Estilo general de la estructura */

        #cuerpo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
        }

        #cabezera {
            margin: 0px;
            padding: 0px;
            grid-column: 1/13;
            grid-row: 1/2;
        }

        #banner {
            grid-row: 2/3;
            grid-column: 1/13;
            text-align: center;
        }

        #cards {
            grid-row: 3/7;
            grid-column: 2/12;
        }

        #pie {
            color: white;
            grid-row: 7/8;
            grid-column: 1/13;
        }

        body {
            margin: 0px;
            background-color: #F5CB5C;
        }

        .conte {
            border-radius: 0px;
            background-color: #242423;
        }

        /*@Media de teléfonos*/

        @media (max-width:720px) {
            p, h1, h2, button {
                color: #CFDBD5;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .fle {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            .botonrayas {
                max-width: 11vh;
                background: none;
                border: none;
                width: 11vw;
                margin: 5px;
                padding: 2px;
            }
            .botonrayas img {
                width: 10vw;
                max-width: 10vh;
            }
            .conte h1 {
                max-height: 11vh;
                max-width: 80vw;
                font-size: 5vw;
                padding: 0px;
                margin-left: 10px;
                margin-bottom: auto;
                margin-top: auto;
                display: inline-block;
            }
            .menu {
                height: 0;
                opacity: 0%;
                background-color: #333533;
                display: none;
                margin: 2px;
                margin-bottom: 0px;
                padding: 5px;
            }
            .menu ul {
                list-style: none;
                margin-left: 0px;
                padding-left: 12px;
            }
            .desple {
                height: 23px;
                transition: height 1s;
                list-style-image: url("https://image.flaticon.com/icons/svg/892/892528.svg");
                opacity: 1;
            }
            .desple:hover {
                height: 50px;
                list-style-image: url("https://image.flaticon.com/icons/svg/892/892555.svg");
            }
            .desple ul {
                display: none !important;
                opacity: 100% !important;
            }
            .desple:hover ul {
                display: block !important;
                position: relative;
                transform: translate(50px, 0);
            }
            li {
                border-radius: 2px;
                background-color: #E8EDDF;
                padding: 4px;
                display: flex;
                align-items: center;
                margin-top: 3px;
                margin-bottom: 3px;
                width: 120px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            #buscador {
                height: 30px;
            }
            #barra, #buscar {
                height: 30px;
                border: none;
            }
            footer {
                padding: 4px;
                justify-content: center;
                font-size: 12px;
                display: flex;
                background-color: #333533;
            }
            #articulos {
                background-color: #F5CB5C;
                text-align: center;
            }
            .hov a {
                color: black;
                text-decoration: none;
            }
        }

        /*@Media Computadores*/

        @media(min-width: 721px) {
            p, h1, h2, #banner {
                color: #CFDBD5;
                grid-column: 3/11;
            }
            button {
                color: #CFDBD5;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .botonrayas {
                display: none;
            }
            .conte h1 {
                max-height: 10vh;
                max-width: 80vw;
                font-size: 4vw;
                padding: 0px;
                margin-left: 10px;
                margin-bottom: auto;
                margin-top: auto;
                display: inline-block;
            }
            .menu {
                margin-bottom: 0px;
                display: block !important;
                font-size: 20px;
                background-color: #333533;
                width: 100%;
                margin-top: 2%;
                border: 1px;
                opacity: 1 !important;
                height: auto !important;
            }
            #buscador {
                display: inline-block;
                position: absolute;
                top: 20px;
                left: 72vw;
            }
            #mayor {
                color: white;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 50px;
                background-color: #333533;
            }
            .menu ul {
                list-style: none;
                padding-left: 0px;
            }
            .menu li {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                display: inline-block;
            }
            .desple {
                cursor: pointer;
            }
            .desple ul {
                display: none;
            }
            .desple li {
                color: white;
                background-color: #333533;
                display: block;
                border-radius: 4px;
            }
            .menu {
                margin-left: 0px;
                margin-right: 0px;
                padding-left: 0px;
                padding-right: 0px;
            }
            #pepito {
                background-size: 0px;
                opacity: 0%;
                position: absolute;
                left: 0px;
                width: 100%;
                text-align: center;
                background: #333533;
                margin-left: 0px;
                margin-right: 0px;
                padding-left: 0px;
                padding-right: 0px;
            }
            #pepito li {
                font-size: 18px;
                display: inline-block;
                background: #333533;
                width: 23vw;
                margin-left: 0px;
                margin-right: 0px;
                padding-left: 0px;
                padding-right: 0px;
            }
            #barra {
                width: 14vw;
                height: 30px;
                margin: 0px;
                padding: 0px;
                border: none;
                border-radius: 1px;
            }
            #buscar {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                width: 10vw;
                height: 30px;
                margin-top: -5px;
                margin-left: -5px;
                padding: 0px;
                border-radius: 0px;
                border: none;
                position: relative;
                top: 1px;
                background-color: gainsboro;
            }
            .conte {
                width: 100%;
            }
            footer {
                padding: 6px;
                justify-content: center;
                font-size: 12px;
                display: flex;
                background-color: #333533;
            }
            #articulos {
                background-color: #F5CB5C;
                text-align: center;
                margin-left: 10%;
                margin-right: 10%;
            }
            .hov a {
                text-decoration: none;
                color: #CFDBD5;
            }
        }

        /*Css cards*/

        .compra1, .compra2, .compra3, .compra4, .compra5, .compra6 {
            text-align: center;
            vertical-align: top;
            background-color: white;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px;
            height: 490px;
            width: 250px;
            border: 1px solid white;
        }

        h3 {
            padding: 0px;
            margin: 2px;
            height: 18px;
        }

        .imgcompra {
            height: initial;
            width: 249px;
        }

        .but {
            margin: 2px;
            width: 249px;
            background-color: #242423;
            font-size: 20px;
            border: none;
            border-radius: 2px;
            align-self: center;
            width: 120px;
            height: 40px;
        }

        .aimg {
            text-decoration: none;
            color: white;
        }